extends layout

mixin startList(convo)
	ul
		+list(convo)

mixin list(convo)
	li #{convo.name}: #{convo.body}
	if convo.children && convo.children[0]
		ul
			each child in convo.children
				+list(child)

block content
	div.header
		h1= title
		p This is a #{title}
		form(action="/", method="post")
			input(type="text" name="reddit_url", class="form-control main-input", placeholder="Reddit URL")
			select(name="theme", class="form-control main-input")
				option(value="Harry Potter") Harry Potter
				option(value="Big Bang Theory") Big Bang Theory
			input(type="submit", class="btn btn-default main-input", value="Anonymize")
	
	if conversations
		each conversation in conversations
			+startList(conversation)
